<div class="container">
    <div class="text-center entete2"><h2>Modalité de paiement</h2></div>            
    <div class="row justify-content-center mt-2">
            <!-- Modalite de paiement -->
        <form [formGroup]= "formAddModalite" > 
            <table>
                <tr>
                    <th>
                     <mat-form-field appearance="fill"  style="margin-top: 10px">
                        <mat-label>Echeanciers</mat-label>
                        <mat-select [(ngModel)]="nbrEcheanciers" formControlName="nbrEcheanciers" id="nbrEcheanciers">
                        <mat-option *ngFor="let echeancier of echeanciers" [value]="echeancier.value">
                            {{echeancier.viewValue}}
                        </mat-option>
                        </mat-select>
                     </mat-form-field></th>
                     <th colspan="2">Montant à verser</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group ">
                            <label for="date1">Date1</label>
                            <input type="date" formControlName="date1" class="form-control" id="date1">
                        </div> 
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont1">Montant1</label>
                            <input type="number" formControlName="mont1" class="form-control" id="mont1">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="date2">Date2</label>
                            <input type="date" formControlName="date2" class="form-control" id="date2">
                        </div> 
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont2">Montant2</label>
                            <input type="number" formControlName="mont2" class="form-control" id="mont2">         
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    <div class="form-group ">
                        <label for="date3">Date3</label>
                        <input type="date" formControlName="date3" class="form-control" id="date3">
                    </div>
                    </td>
                    <td>
                    <div class="form-group ">
                        <label for="mont3">Montant3</label>
                        <input type="number" formControlName="mont3" class="form-control" id="mont3">
                    </div> 
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="date4">Date4</label>
                            <input type="date" formControlName="date4" class="form-control" id="date4">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont4">Montant4</label>
                            <input type="number" formControlName="mont4" class="form-control" id="mont4">
                        </div> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group ">
                            <label for="date5">Date5</label>
                            <input type="date" formControlName="date5" class="form-control" id="date5">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont5">Montant5</label>
                            <input type="number" formControlName="mont5" class="form-control" id="mont5">
                        </div>
                    </td>
                    <td>                    
                        <div class="form-group ">
                            <label for="date6">Date6</label>
                            <input type="date" formControlName="date6" class="form-control" id="date6">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont6">Montant6</label>
                            <input type="number" formControlName="mont6" class="form-control" id="mont6">         
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group ">
                            <label for="date7">7e Echéancier</label>
                            <input type="date" formControlName="date7" class="form-control" id="date7">
                        </div>  
                    </td>
                    <td>         
                        <div class="form-group ">
                            <label for="mont7">Montant7</label>
                            <input type="number" formControlName="mont7" class="form-control" id="mont7">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="date8">8e Echéancier</label>
                            <input type="date" formControlName="date8" class="form-control" id="date8">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="mont8">8e mont</label>
                            <input type="number" formControlName="mont8" class="form-control" id="mont8">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group ">
                            <label for="date9">9e Echéancier</label>
                            <input type="date" formControlName="date9" class="form-control" id="date9">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont9">Montant9</label>
                            <input type="number" formControlName="mont9" class="form-control" id="mont9">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="date10">10e Echéancier</label>
                            <input type="date" formControlName="date10" class="form-control" id="date10">
                        </div>
                    </td>
                    <td>   
                        <div class="form-group ">
                            <label for="mont10">Montant10</label>
                            <input type="number" formControlName="mont10" class="form-control" id="mont10">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group ">
                            <label for="date11">11e Echéancier</label>
                            <input type="date" formControlName="date11" class="form-control" id="date11">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont11">Montant11</label>
                            <input type="number" formControlName="mont11" class="form-control" id="mont11">
                        </div>
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="date12">12e Echéancier</label>
                            <input type="date" formControlName="date12" class="form-control" id="date12">
                        </div> 
                    </td>
                    <td>
                        <div class="form-group ">
                            <label for="mont12">Montant12</label>
                            <input type="number" formControlName="mont12" class="form-control" id="mont12">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit"  class="btn btn-primary" (click)="onEcheance()" >Suivant</button>       
                    </td>
                    <td>
                    </td>
                    <td>
                        <button type="submit"  class="btn btn-primary" (click)="otherContrat()" >Ajouter Vente</button>       
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>