<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mark">Bienvenu dans votre nouvelle application GEPEC</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <!-- Content Row -->
  <!--<div class="row">

    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de Points</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"> </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Partenaires</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-car-side fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Progression </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    &lt;!&ndash; Pending Requests Card Example &ndash;&gt;
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  <!-- End Content Row -->

  <div class="row">
    <!-- Area Chart Left -->
    <div class="col-xl-8 col-lg-8">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
          <h6 class="m-0 font-weight-bold text-primary">Services offert</h6>
        </div>

        <!-- Card Body -->
        <div class="card-group">
          <div class="card">
            <img src="./assets/img/envoyer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Commande</h5>
              <p class="card-text">Faite votre commande en toutes securité </p>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/retrait.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paiement</h5>
              <p class="card-text">Payez vos echeanciers </p>
            </div>
          </div>
          <div class="card">
            <img src="./assets/img/depot.jpeg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Depot</h5>
              <p class="card-text">Deposez en toutes securité sur votre compte de l'argent vis à tous nos points de vente</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Pie Chart Right-->
    <div class="col-xl-4 col-lg-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header d-flex flex-row align-items-center justify-content-center">
          <h6 class="m-0 font-weight-bold text-primary">Text decriptif</h6>
        </div>
        <!-- Card Body  left-->
        <div class="card">
          <img src="./assets/img/partenaire.png"  alt="...">
          <div class="card-body">
            <h5 class="card-title">Produits</h5>
            <p class="card-text">Text decriptif</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<!-- /.container-fluid -->

