<div class="container">
        <form [formGroup]= "formAddSubroge" > 
            <div class=" text-center  entete2">Enregistrement du subrogé</div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="prenom">Prenom </label>
                    <input type="text" formControlName="prenom" class="form-control" id="prenom">
                </div> 
                <div class="form-group col-md-3">
                    <label for="nom">Nom </label>
                    <input type="text" formControlName="nom" class="form-control" id="nom">
                </div> 
                <div class="form-group col-md-3">
                    <label for="dateNaiss">Date de naissance </label>
                    <input type="date" formControlName="dateNaiss" class="form-control" id="dateNaiss">
                </div>
                <div class="form-group col-md-3">
                    <label for="lieuNaiss">Lieu de naissance </label>
                    <input type="text" formControlName="lieuNaiss" class="form-control" id="lieuNaiss">
                </div>
                <div class="form-group col-md-3">
                    <label for="telephone">Telephone </label>
                    <input type="text" formControlName="telephone" class="form-control" id="telephone" >
                </div> 
                <div class="form-group col-md-3">
                    <label for="cni">CNI </label>
                    <input type="text" formControlName="cni" class="form-control" id="cni" >
                </div>           
                <div class="form-group col-md-3">
                    <label for="dateDCni">Délivrance CNI  </label>
                    <input type="date" formControlName="dateDCni" class="form-control" id="dateDCni">
                </div> 
                <div class="form-group col-md-3">
                    <label for="dateECni"> Expiration CNI </label>
                    <input type="date" formControlName="dateECni" class="form-control" id="dateECni">
                </div>
                <div class="form-group col-md-3">
                    <label for="domicile">Demeurant à</label>
                    <input type="text" formControlName="domicile" class="form-control" id="domicile" >
                </div>           
            </div> 
            <div class="button-row button">
                <button class="mat-raised-button">annuler</button>
                <button class="mat-raised-button mat-warn" (click)="close()" >Precedent</button>  
                <button type="submit"  class="btn btn-primary" (click)="onSubroge()" >Suivant</button>               
            </div>         
        </form>
          
</div>


