*{
  color:black;
}

input,.form-control{
  height: 25px;
  width: 100%;
  border: solid black 1px !important;
  font-size:13px;
}
.row{
  margin-top: 2px;
  border:solid gray 1px;
   label{
     font-family: Arial Black,Bold;
     font-weight:15px;
   }
}
.entete2{
  padding: 0,0,0,0;
  float: center;
  font-size:20px;
  margin-top:10px;
  margin-bottom: 6px;
  background-color: yellow;
}
mat-form-field{
  height:2px !important;
  width: 95% !important;
}