<div class="mat-elevation-z8" >
      <mat-divider></mat-divider>
    <table mat-table [dataSource]=" listData"  id="table">
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef  >Mois </mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              {{listeVente.createdAt | date:'dd-MM-yyyy'}}
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="numContrat">
            <mat-header-cell *matHeaderCellDef  >N° Contrat</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              {{listeVente.numContrat}}
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="reference">
            <mat-header-cell *matHeaderCellDef  >Reference</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              {{listeVente.reference}}
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="client" >
            <mat-header-cell *matHeaderCellDef> Client</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              {{listeVente.client.prenom}} {{listeVente.client.nom}}
            </mat-header-cell>
          </ng-container> 
          <ng-container matColumnDef="articles">
            <mat-header-cell *matHeaderCellDef style="text-align: left;">Articles</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente" >
             <span *ngFor= " let commande of listeVente.commandes " >
              {{commande.designation}}<br>
             </span>
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              <span *ngFor= " let facture of listeVente.factures ">
                {{facture.montAVerser}}
              </span>
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="montant">
            <mat-header-cell *matHeaderCellDef>Prix de vente</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              <span *ngFor= " let facture of listeVente.factures ">
                {{facture.montAVerser}}
              </span>
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="acompte" >
            <mat-header-cell *matHeaderCellDef>Acompte</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              <span *ngFor= " let facture of listeVente.factures ">
                {{facture.acompte}}
            </span>
            </mat-header-cell>
          </ng-container>
          <ng-container matColumnDef="reliquat" >
            <mat-header-cell *matHeaderCellDef>Reste a payer</mat-header-cell>
            <mat-header-cell *matCellDef="let listeVente">
              <span *ngFor= " let facture of listeVente.factures ">
                {{facture.resteAPayer}}
              </span>
            </mat-header-cell>
          </ng-container>
    </table>

</div>